<section class="vh-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <!-- Imagem -->
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="assets/imageLogin.png" class="img-fluid">
      </div>

      <!-- Formulário de Login -->
      <div class="col-md-7 col-lg-5 col-xl-5">
        <div class="login-container">
        <!-- Título -->
          <h2 class="title">Welcome</h2>

          <form (ngSubmit)="onSubmit()">
            
            <div class="input-div">
              <div class="i">
                <i class="fas fa-user"></i>
              </div>
              <div class="div">
                <input type="email" required class="input" placeholder="Email" [(ngModel)]="email" name="email">
              </div>
            </div>
            
            

            <!-- Senha -->
            <div class="input-div">
              <div class="i">
                <i class="fas fa-lock"></i>
              </div>
              <div class="div">
                <input type="password" placeholder="Password" id="form1Example23" class="input" [(ngModel)]="senha" name="senha" required>
              </div>
            </div>

            <button type="submit" class="animated-button">
              <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
              </svg>
              <span class="text">Login</span>
              <span class="circle"></span>
              <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
              </svg>
            </button>

            <!-- Exibe mensagem de erro se houver -->
            <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
              {{ errorMessage }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
