body {
    font-family: 'Lato', sans-serif;
    background: #f6f7fa;
    margin: 0;
    padding: 0;
}

header {
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
}

.search input {
    border: 1px solid #d4d9e3;
    padding: 10px;
    width: 100%;
}

.user-dashboard {
    padding: 30px;
}

.user-dashboard h1 {
    font-size: 28px;
    font-weight: bold;
    color: #0e1a35;
}

.list-group-item {
    border: 1px solid #ddd;
    padding: 15px;
}

.list-group-item .btn {
    margin-left: 10px;
}
